@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">@Model.Text1</h1>
	<h1 class="display-4">@Model.Text2</h1>
	<h1 class="display-5">@Model.Text3</h1>
	<h1 class="display-5">@Model.Text4</h1>

	<h1 class="display-3">to the first day of tomorrow land</h1>

	<div>
		<h1 class="display-5">@Model.Text5</h1>

	</div>

</div>

